body {
font: 15px Verdana,Serif,Arial;
line-height: 18px;
color: #383838;
}

h1{
font-family: Georgia, serif;
font-style:italic;
font-size: 18px;
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}
   ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
   }
#header {
	height:5px;
}

#header .menu{
clear:both;
float:right;

width:50%;
height:30px;

}


#content {	
	width:100%;
	float:left;
	min-height: 440px;
}


#header .menu li{
	float:left;
	margin-right: 40px;
	margin-top: -10px;
	list-style:none;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	display:block;
}



#footer{
	clear: both;
	float:left;
	height:60px;
	width:100%;
	text-align:right;
}
	
.blog{
	float:left;
	padding: 10px;
	width:250px;
	height:240px;
}
#centerLayer {
    margin-left: 30%; /* Отступ слева */
    width: 40%; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
   }